<?xml version="1.0" encoding="windows-1252"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
">
  
    
    <bean id="addressMasterDao" class="com.prag.hms.hibernate.dao.impl.AddressMasterDaoImpl">
        <property name="fact">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="contactMasterDao" class="com.prag.hms.hibernate.dao.impl.ContactMasterDaoImpl">
        <property name="fact">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="userMasterDao" class="com.prag.hms.hibernate.dao.impl.UserMasterDaoImpl">
        <property name="fact">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="registerUserDao" class="com.prag.hms.hibernate.dao.impl.RegisterUserDaoImpl">
        <property name="fact">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="userRegisteration" class="com.prag.hms.struts.patient.actions.PatientRegisterAction" scope="prototype">
        <property name="userAccessDao">
            <ref bean="userAccessDaoImpl"/>
        </property>
        <property name="registerUserDao">
            <ref bean="registerUserDao"/>
        </property>
        
    </bean>

</beans>
